* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  font-family: 'Overlock SC', sans-serif;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite alternate, rotate 1s infinite linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);
  }
  100% {
    box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.answer-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#result {
    text-align: center;
    max-width: 90px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
  color: white;
}

h1 {
  margin: 4rem 0rem 2rem 0rem;
}

h2 {
  margin-bottom: 2rem;
}

#ask {
  margin-bottom: 4rem;
  width: 290px;
  height: 30px;
}

.shake-btn {
  margin: 4rem;
  width: 100px;
  height: 30px;
}

.image-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.image-list li {
  margin: 0 20px;
}

.image-list img {
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.image-list img:hover {
  border-color: blue; /* Change border color on hover */
}