* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
    width: 300px;
    height: 300px;
    /* background-image: url(./images/orange_galaxy_swirl.jpg);
    background-size: contain; */
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite alternate, rotate 1s infinite linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);
  }
  100% {
    box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.answer-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#result {
    text-align: center;
    max-width: 90px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
  color: white;
}

h1 {
  margin: 4rem 0rem 2rem 0rem;
}

h2 {
  margin-bottom: 2rem;
}

#ask {
  margin-bottom: 4rem;
  width: 290px;
  height: 30px;
}

.shake-btn {
  margin: 4rem;
  width: 100px;
  height: 30px;
}
/* testing animations */

.loader {
    margin-top: 50px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #4271E3;
    animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#CA43D6, #A64FD9, #4271E3);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: white;
  border-radius: 50%;
}
